<link rel="stylesheet" href="~/css/Goods/Filter.css" />
<link rel="stylesheet" href="~/css/Goods/Good.css" />
<div>
    <div id="filtration">
        <form method="POST">
            <div id="filtration-inner">
                <input type="hidden" name="search" value="@ViewBag.Search" />
                <input type="hidden" name="id" value="@ViewBag.SubcategoryId" />
                <input type="hidden" name="page" value="1" />
                <input type="hidden" name="Filter" value="" />
                <div class="filter">
                    <table>
                        <tr>
                            <td colspan="2">
                                @if (ViewBag.HasDiscount == "true")
                                {
                                    <input checked value="true" name="hasDiscount" type="checkbox"> <span>Цена со скидкой</span>
                                }
                                else
                                {
                                    <input value="true" name="hasDiscount" type="checkbox"> <span>Цена со скидкой</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="range">
                                    <input type="number" min="0" max="100" name="fromDiscount" value="@ViewBag.fromDiscount" placeholder="Процент скидки от" />
                                    <input type="number" min="0" max="100" step="1" name="toDiscount" value="@ViewBag.toDiscount" placeholder="Процент скидки до" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="filter">
                    <table>
                        <tr>
                            @if (ViewBag.Sort == "down")
                            {
                                <td><input value="down" name="sort" type="radio" checked title="Цена по убыванию"></td>
                                <td><input value="up" name="sort" type="radio" title="Цена по возврастанию"></td>
                            }
                            else
                     if (ViewBag.Sort == "up")
                            {
                                <td><input value="down" name="sort" type="radio">Цена по убыванию</td>
                                <td><input value="up" name="sort" type="radio" checked>Цена по возврастанию</td>
                            }
                            else
                            {
                                <td><input value="down" name="sort" type="radio">Цена по убыванию</td>
                                <td><input value="up" name="sort" type="radio">Цена по возврастанию</td>
                            }

                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="range">
                                    <input min="0" name="fromPrice" value="@ViewBag.fromPrice" placeholder="Цена от" />
                                    <input min="0" name="toPrice" value="@ViewBag.toPrice" placeholder="Цена до" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="apply-filter">
                <button type="submit">Принять</button>
                <a href="Show?SubcategoryId=@ViewBag.SubcategoryId&page=1&Filter=no"><input type="button" value="Отмена"></a>
            </div>
        </form>
    </div>
    <div id="goods">
        <div id="path">

        </div>
        <table>
            @for (int i = 0; i < ViewBag.Goods.Count; i++)
            {
                int tr = 0;
                @if (i % 4 == 0)
                {@Html.Raw("<tr>"); tr = i;
            };
                    <td>
                        <div class="good">
                            <div class="good-image">
                                <figure tabindex="1">@Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(ViewBag.Goods[i].Image) + "\" />")</figure>
                            </div>
                            <div class="good-discription">
                                <div><span><b><a href="~/Goods/MoreInfo?Id=@ViewBag.Goods[i].Id">@ViewBag.Goods[i].Name</a></b></span></div>
                                <span>Ед.изм: @ViewBag.Goods[i].Unit</span><div>
                                    <div>
                                        @if (ViewBag.Goods[i].Discount == 0)
                                        {
                                            <span>Цена<b> @ViewBag.Goods[i].Price</b> (бел. руб.)</span>
                                        }
                                        else
                                        {
                                            <span class="good-discount-priceOLd">Цена <b><s>@ViewBag.Goods[i].Price</s> </b></span>
                                            <span class="good-discount-priceNew"><b> @Math.Round(@ViewBag.Goods[i].Price - ((@ViewBag.Goods[i].Price * @ViewBag.Goods[i].Discount) / 100), 2)</b>(бел.руб.)</span>
                                        }
                                    </div>
                                    <div class="good-buy">
                                        <form action="~/Cart/Add" method="POST">
                                            <input type="hidden" name="id" value="@ViewBag.Goods[i].Id" />
                                            <input class="required-count" min="0" max="@ViewBag.Goods[i].CountInStorage" name="count" type="number" required />
                                            <button type="submit" class="good-to-cart">В корзину</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    if ((i % 4 == 0 && i != tr) || i == ViewBag.Goods.Count - 1)
                        @Html.Raw("</tr>");
                    }
        </table>
    </div>

    <div class="foot">
        Стр @(ViewBag.countPages < ViewBag.Page ? 0 : ViewBag.Page) из @ViewBag.countPages

        @if (ViewBag.Page > 1)
        {
            @Html.ActionLink("<<", "Show", new { page = 1, SubcategoryId = ViewBag.SubcategoryId, search = ViewBag.Search, HasDiscount = ViewBag.HasDiscount, fromDiscount = ViewBag.fromDiscount, toDiscount = ViewBag.toDiscount, Sort = ViewBag.Sort, fromPrice = ViewBag.fromPrice, toPrice = ViewBag.toPrice })
            @Html.Raw(" ");
            @Html.ActionLink("< Пред.", "Show", new { page = ViewBag.Page - 1, SubcategoryId = ViewBag.SubcategoryId, search = ViewBag.Search, HasDiscount = ViewBag.HasDiscount, fromDiscount = ViewBag.fromDiscount, toDiscount = ViewBag.toDiscount, Sort = ViewBag.Sort, fromPrice = ViewBag.fromPrice, toPrice = ViewBag.toPrice })
        }
        else
        {
            @:<<
            @Html.Raw(" ");
            @:< Пред.
        }

        @if (ViewBag.Page < ViewBag.countPages)
        {
            @Html.ActionLink("След. >", "Show", new { page = ViewBag.Page + 1, SubcategoryId = ViewBag.SubcategoryId, search = ViewBag.Search, HasDiscount = ViewBag.HasDiscount, fromDiscount = ViewBag.fromDiscount, toDiscount = ViewBag.toDiscount, Sort = ViewBag.Sort, fromPrice = ViewBag.fromPrice, toPrice = ViewBag.toPrice })
            @Html.Raw(" ");
            @Html.ActionLink(">>", "Show", new { page = @ViewBag.countPages, SubcategoryId = ViewBag.SubcategoryId, search = ViewBag.Search, HasDiscount = ViewBag.HasDiscount, fromDiscount = ViewBag.fromDiscount, toDiscount = ViewBag.toDiscount, Sort = ViewBag.Sort, fromPrice = ViewBag.fromPrice, toPrice = ViewBag.toPrice })
        }
        else
        {
            @:След. >
            @Html.Raw(" ")
            @:>>
        }
    </div>
</div>
