<link rel="stylesheet" type="text/css" href="~/css/Index.css" />
<script tyle="text/javascript" src="~/js/SliderJQ.js"></script>
<script tyle="text/javascript" src="~/js/Slider.js"></script>

<div id="slider-wrap">
    <div class="panel-title">% Скидки %</div>
    <div id="slider">
        @foreach (IShop.Models.Good good in ViewBag.DiscountGoods)
        {
        <div class="slide">
            <div class="good">
                <div>
                    @Html.Raw("<img class='good-image' src=\"data:image/jpeg;base64,"
                         + Convert.ToBase64String(good.Image) + "\" />")
                </div>
                <div class="good-discription">
                    <div class="good-discount">@good.Discount %</div>
                    <div class="good-name"><b>@good.Name</b></div>
                    <div>Ед.изм: @good.Unit<div>
                            <div>
                                <span class="good-price">Цена <b><s>@good.Price</s> </b></span>
                                <span class="good-discount-price"><b> @Math.Round( good.Price - (good.Price * good.Discount) / 100, 2)</b></span> (бел. руб.)
                            </div>
                            <div class="good-buy">
                                <form action="~/Shop/AddToCart" method="POST">
                                    <input type="hidden" name="id" value="@good.Id" />
                                    <input class="required-count" min="0" max="@good.CountInStorage" name="count" type="number" required />
                                    <button type="submit" class="good-to-cart">В корзину</button>
                                    <a href="~/Goods/MoreInfo/@good.Id"><input type="button" class="good-more-info" value="Подробнее" /></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
