<link rel="stylesheet" href="~/css/Cart/Cart.css" />
<script tyle="text/javascript" src="~/js/MakeOrder.js">
</script>
<div id="cart">
    <table>
        <tr>
            <th>
                Оформить
            </th>
            <th>
                Товар
            </th>
            <th>
                Цена за единицу
            </th>
            <th>
                Кол-во
            </th>
            <th>
                Скидка,%
            </th>
            <th></th>
        </tr>
        @foreach (var item in ViewBag.CartItems)
        {
            <tr>
                <td>
                    <input class="cart-checkbox" onclick="InOrder()" type="checkbox" value="@item.ItemId" />
                </td>
                <td>
                    <a class="good-in-cart" href="~/Goods/MoreInfo?Id=@item.Good.Id">@item.Good.Name</a>
                </td>
                <td>
                    @item.Good.Price
                </td>
                <td>
                    @item.Count
                </td>
                <td>
                    @item.Good.Discount
                </td>
                <td class="delete-from-cart">
                    @Html.ActionLink("Удалить", "Remove", "Cart", new { id = item.ItemId }, "")
                </td>
            </tr>
        }
        <tr>
            <td>
                <input type="hidden" name="InOrder" id="InOrder" />
                <b>Сумма по корзине:</b>
            </td>

            <td>
                @ViewBag.CartSum
            </td>
        </tr>
    </table>
    <div> <a id="linkorder"><input type="button" id="apply-cart" value="Оформить заказ"></a></div>
</div>