@{
    Layout = "_LayoutAdministration";
}
@model List<IShop.Models.Category>

<link rel="stylesheet" href="~/css/Administration/Items.css" />
<script tyle="text/javascript" src="~/js/Administration/LoadImage.js"></script>
<div id="items-panel-modify">
    <h2>Редактирование товара</h2>
    <div>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="Id" value="@ViewBag.Good.Id" />
            <div>
                <label for="Name">Наименование:</label>
                <input name="Name" value="@ViewBag.Good.Name" required />
            </div>
            <div>
                <details>
                    <summary>Категория:</summary>
                    @foreach (IShop.Models.Category category in Model)
                    {
                        <details>
                            <summary>@category.Name:</summary>
                            <table>
                                @foreach (IShop.Models.Subcategory subcategory in category.subcategories)
                                {
                                    <tr>
                                        <td>
                                            @if (subcategory.Id == ViewBag.Good.SubcategoryId)
                                            {

                                                <input type="radio" name="subcategoryId" value="@subcategory.Id" required checked>
                                            }
                                            else
                                            {
                                                <input type="radio" name="subcategoryId" value="@subcategory.Id" required>
                                            }
                                        </td>
                                        <td>
                                            <p>@subcategory.Name</p>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </details>
                    }
                </details>
            </div>
            <div>
                <label for="Unit">Ед.из:</label>
                <input name="Unit" value="@ViewBag.Good.Unit" required />
            </div>
            <div>
                <label for="Price">Цена:</label>
                <input type="number" step="any" name="Price" value="@ViewBag.Good.Price.ToString().Replace(",",".")" required />
            </div>
            <div>
                <label for="Discount">Скидка:</label>
                <input type="number" step="any" min="0" max="100" name="Discount" value="@ViewBag.Good.Discount" required />
            </div>
            <div>
                <label for="CountInStorage">В наличии:</label>
                <input name="CountInStorage" value="@ViewBag.Good.CountInStorage" required />
            </div>
            <div>
                <label for="Maker">Производитель</label>
                <input name="Maker" value="@ViewBag.Good.Maker" required />
            </div>
            <div>
                <label for="Guarantee">Гарантия:</label>
                <input name="Guarantee" value="@ViewBag.Good.Guarantee" required />
            </div>
            <div>
                <label for="Note">Описание:</label>
                <input maxlength="450" rows="5" name="Note" value="@ViewBag.Good.Note" required />
            </div>
            <div>
                <label for="Image">Фото:</label>
                <input onchange="checkSize()" type="file" name="Image"/>
            </div>
            <div>
                <label for="ImageCurrent">Текущее фото:</label>
                @try
                {
                       <figure tabindex="1">
                        @Html.Raw("<img name='ImageCurrent' src=\"data:image/jpeg;base64,"
                                 + Convert.ToBase64String(ViewBag.Good.Image) + "\" />")
                            </figure>
                        }
                catch { }
            </div>
            <div>
                <button type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</div>

